@tailwind base;
@tailwind components;
@tailwind utilities;

.orchestration {
  --delay: 120ms;
}

.orchestration > * {
  animation: enter 0.6s ease both;
  animation-delay: calc(var(--delay) * var(--stagger-index));
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

* {
  cursor: none;
}